
.projects-container {
  min-height: 700px;
  background: gray;
  padding: 3rem 0;
}

.project-browser {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  text-align: center;
  min-height: 200px;
  max-height: 500px;
  width: 350px;
  border-radius: 5px;
  font-size: 2rem;
  margin: 1rem;
  padding: 2rem;
}

.project-card:hover {
  background: rgba(255,255,255,.1)
}

.project-title {
  background: white;
  display: inline;
  padding: 1rem;
  border-radius: 7px;
  opacity: .7;
  color: aqua;
}

.project-title:hover {
  opacity: 1;
  background: aqua;
  color: white;
  transition: 1s;
}

.project-card img {
  margin-top: 2.5rem;
  max-width: 100%;
  max-height: 300px;
}

.project-description {
  display: none;
}

.project-detail-card {
  text-align: center;
  background-color: white;
  margin: 1.25rem;
  padding: 1rem 2rem;
  border-radius: 7px;
}

.project-detail-card a {
  margin: .5rem 2rem;
  background: white;
  padding: .5rem;
  border-radius: 5px;
}

.project-detail-card a:hover {
  background: black;
  color: white;
  transition: 1s;
}

.close-detail {
  float: left;
  padding: .5rem;
}

.close-detail:hover {
  cursor: pointer;
  background: black;
  color: aqua;
  border-radius: 5px;
  transition: 1s;
}

a, u {
  text-decoration: none;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}
