
.projects-container {
  min-height: 650px;
  background: gray;
}

.project-browser {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-image {
  text-align: center;
  min-height: 200px;
  max-height: 500px;
  width: 350px;
  background: white;
  font-size: 2rem;
  margin: 1rem;
}

.project-image img {
  max-width: 100%;
  max-height: 300px;
}
