
.projects-container {
  min-height: 550px;
  background: gray;
}

.project-browser {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  text-align: center;
  min-height: 200px;
  max-height: 500px;
  width: 350px;
  border-radius: 5px;
  font-size: 2rem;
  margin: 1rem;
}

.project-title {
  background: white;
  display: inline;
  padding: 1rem;
  border-radius: 7px;
  opacity: .7;
  color: aqua;
}

.project-title:hover {
  opacity: 1;
  background: aqua;
  color: white;
  transition: 1s;
}

.project-card img {
  margin-top: 2.5rem;
  max-width: 100%;
  max-height: 300px;
}

a, u {
  text-decoration: none;
}
