.bio-container {
  height: 520px;
  color: white;
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575e6, #D0D0D0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575e6, #D0D0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bio-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headshot-container {
  max-width: 15rem;
}

.headshot-container img {
  width: 100%;
  border-radius: 5px;
}

.bio-info {
  height: 100px;
}

.bio-container p {
  line-height: normal;
  padding: 0 2rem;
  background: rgba(220,220,220, .5);
  border-radius: 5px;
}

@media(min-width:600px){
  .bio-container {
    height: 400px;
  }

  .bio-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .headshot-container {
    margin: 0 3rem;
    max-width: 75rem;
  }

  .bio-container p {
    font-size: 1.5rem;
    line-height: normal;
    padding: 0 7rem;
    background: rgba(220,220,220, .5);
    border-radius: 5px;
  }
}
