.competencies-background{
  background-color: #C0C0C0;
  color: white;
  height: 500px;
  width: 100%;
}

.competencies-header {
  font-size: 1.75rem;
  padding: .25rem .75rem;
  border-radius: 5px;
  background: gray;
  color: white;
}

.competencies-columns {
  display: flex;
  justify-content: space-around;
}

.competencies-col {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.icon {
  background-color: black;
  color: white;
  padding: .75rem;
  border-radius: 5px;
  font-size: 2rem;
}

p {
  text-align: center;
  color:  black;
  line-height: 1.2rem;
}

.skill:hover {
  background: black;
  color: white;
  padding: .25rem;
  border-radius: 5px;
  transition: 1s;
}

p .institution {
  color: black;
  background: white;
  padding: .25rem;
  border-radius: 5px;
}

@media(min-width:600px){
  .competencies-background {
    height: 550px;
  }

  .competencies-header {
    font-size: 3rem;
    margin-top: 3rem;
  }
}
