.competencies-background{
  background-color: yellow;
  opacity: .7;
  color: white;
  height: 350px;
  width: 100%;
}

.competencies-header {
  font-size: 1.75rem;
  padding: .75rem;
  border-radius: 5px;
  background: white;
  color: black;
}

@media(min-width:600px){
  .competencies-background {
    height: 550px;
  }

  .competencies-header {
    font-size: 3rem;
    margin-top: 4rem;
  }
}
