.competencies-background{
  background-color: gray;
  opacity: .7;
  color: white;
  height: 350px;
  width: 100%;
}

.competencies-header {
  font-size: 1.75rem;
  padding: .75rem;
  border-radius: 5px;
  background: white;
  color: black;
}

.competencies-columns {
  display: flex;
  justify-content: space-around;
}

.competencies-col {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.icon {
  background-color: white;
  color: green;
  padding: .75rem;
  border-radius: 5px;
  font-size: 2rem;
}

ul {
  width: 100%;
  list-style: none;
}
li {
  width: 100%;
  text-align: center;
}


@media(min-width:600px){
  .competencies-background {
    height: 550px;
  }

  .competencies-header {
    font-size: 3rem;
    margin-top: 4rem;
  }
}
