
.footer-container {
  background-color: black;
  color: white;
}

.footer-icon-row {
  display: flex;
  justify-content: center;
}

.footer-icon {
  color: white;
  margin: 0 .5rem;
}

.footer-icon:hover {
  color: blue;
}
