
.nav-header {
  position: fixed;
  overflow: hidden;
  margin-top: 0;
  top: 0;
  height: 3rem;
  width: 100%;
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00f260, #0575e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00f260, #0575e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  opacity: .8;
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  z-index: 1000;
}

.nav-header:hover {
  opacity: 1;
  color: lavender;
}

.nav-header h3 {
  margin-left: 1.5rem;
  padding: .5rem;
  border-radius: 15px;
  cursor: pointer;
  display: none;
}

.nav-header h3:hover {
  color: black;
  background-color: rgba(102, 255, 255, .7);
  transition: 1s;
}

@media(min-width:600px){
  .nav-header h3 {
    display: inherit;
  }
}
